<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" align="center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title " id="myModalLabel">Bienvenido A Este Proyecto</h1>
      </div>
      <div class="modal-body">
     <p class="alert alert-success text-center"><span class="lead" >Este es un sito un poco diferente.</span><br>No vamos a pedir ninguna informacion finaciera.<br>Anota su donacion y luego alguien va estar en contacto consigo personalmente para ver la forma de pago mas facil</p>
      </div>








       






   
    </div>
  </div>
</div>

{{yield}}

