<footer class="container-fluid text-center bg-lightgray">

        <div class="copyrights" style="margin-top:25px;">
            <p>Company Name © 2016, All Rights Reserved
                <br>
                <span>Web Design By: Name</span></p>
            <p><a href="https://somewhere.org" target="_blank">WebPageName</a></p>
        </div>
</footer>